In [49]:
# Handling missing values
# Delete particular row
# Calculate mean -Manually or using imputer class of sklearn

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('car-sales-extended-missing-data.csv')

#df.head() # top 5 records
df.tail()

       Make Colour  Odometer (KM)  Doors    Price
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

In [7]:
df.shape # how many rows and attributes

(1000, 5)

In [8]:
df.columns # Attribute names

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

# Data preprocessing

In [9]:
df.isnull() # testing of missing values

      Make  Colour  Odometer (KM)  Doors  Price
0    False   False          False  False  False
1    False   False          False  False  False
2    False   False          False  False  False
3    False   False          False  False  False
4    False   False          False  False  False
..     ...     ...            ...    ...    ...
995  False   False          False  False  False
996   True   False          False  False  False
997  False   False          False  False  False
998  False   False          False  False  False
999  False   False          False  False  False

[1000 rows x 5 columns]

In [10]:
df.isnull().sum() # count of missing values in each attribute

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [11]:
# Splitting fetaure set and target set
x=df.drop(['Price'],axis=1) #feature set
y=df['Price'] #target

In [12]:
# Training and Test dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25)

In [13]:
# Importing a model
from sklearn import tree
classifier=tree.DecisionTreeClassifier()

In [14]:
classifier.fit(x_train,y_train)  # Training a model

ValueError: could not convert string to float: 'Honda'

In [ ]:
df.isnull().sum()

In [15]:
df=pd.read_csv('car-sales-extended-missing-data.csv')

In [2]:
df.isnull().sum()

NameError: name 'df' is not defined

In [3]:
df.dropna(inplace=True) # Drop all the missing values

NameError: name 'df' is not defined

In [4]:
df

NameError: name 'df' is not defined

In [142]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [143]:
df.shape # How many rows and columns

(1000, 5)

In [94]:
# feature and target
x=df.drop(['Price'],axis=1)
y=df['Price']

In [95]:
# training and testing
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=.3)

In [96]:
# Model 
from sklearn import tree
classifier=tree.DecisionTreeClassifier()

In [97]:
# Training process
classifier.fit(x_train, y_train)

ValueError: could not convert string to float: 'Nissan'

In [148]:
# Handling missing values 2nd method
df=pd.read_csv('car-sales-extended-missing-data.csv')
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [149]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [151]:
# Filling missing values with fillna() method
df.fillna(0,inplace=True)

In [152]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996       0  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [101]:
df.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [17]:
# fillna() using previous values
df=pd.read_csv('car-sales-extended-missing-data.csv')
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [18]:
df.fillna(method='pad',inplace=True)
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996  Toyota  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [19]:
df.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [20]:
# filling with nextvalue
df=pd.read_csv('car-sales-extended-missing-data.csv')
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [21]:
df.fillna(method='bfill',inplace=True)
df.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [22]:
# Splitting fetaure set and target set
x=df.drop(['Price','Make','Colour'],axis=1) #feature set
y=df['Price'] #target
x

     Odometer (KM)  Doors
0          35431.0    4.0
1         192714.0    5.0
2          84714.0    4.0
3         154365.0    4.0
4         181577.0    3.0
..             ...    ...
995        35820.0    4.0
996       155144.0    3.0
997        66604.0    4.0
998       215883.0    4.0
999       248360.0    4.0

[1000 rows x 2 columns]

In [23]:
# Training and Test dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25)

In [24]:
#Fitting the Simple Linear Regression model to the training dataset  
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [27]:
y_pred= regressor.predict(x_test) 
y_pred
x_pred= regressor.predict(x_train)

array([14641.92997092, 15714.76930265, 18653.59024797,  9268.60607275,
       18132.58957529, 18440.57625413, 17602.81971892, 21102.2019818 ,
       18442.91182935, 12821.8495603 , 17435.94525204, 11394.38411216,
       12486.48002334, 20855.27505213, 21643.60318913, 14030.15225532,
       15846.51481149, 18191.21728002, 16587.01075129, 17137.39734334,
       19155.73892221, 21394.60227083, 19900.00038126, 19118.13139455,
       13570.1392648 , 19608.60219264, 11453.9174481 , 13624.19114867,
       16559.29423955, 10704.53145319, 18514.26603584,  6572.63728645,
       17527.00828377, 16333.55374394, 17260.20513226, 11835.80783045,
       12571.895346  , 11635.13901996, 16014.43790398, 18854.64037687,
       17726.65287085, 13479.95746208, 15556.14084628, 18921.0851089 ,
       21748.51341523, 11115.2590399 , 19513.08193225, 12841.34446375,
       12610.31317527, 21182.4462434 , 13957.36810481, 11817.40921742,
       19256.16865706, 10564.42134165, 15273.77456757, 13968.52166815,
       15478.68554532, 19344.72985656, 14210.70651996, 20004.07704315,
       15411.66883569, 14323.67209737, 13073.99635544, 12474.32549919,
       20866.80993388, 15409.38092526, 25575.54351739, 11847.39037699,
       19746.35346635, 11658.54243705, 21285.11622387, 12755.88147628,
       21547.70161034, 12331.85541021, 11229.17791331, 10382.19880899,
       15300.3238615 , 16509.15086932, 13301.16679506, 21132.54119718,
       19853.64693249, 12360.45429057, 14772.10254134, 19605.5516454 ,
       13939.7321286 , 20143.59191449, 18488.86069713, 11399.62724023,
       11229.17791331, 14641.07200451, 10695.90412429, 15748.96822727,
       15705.85598494, 20762.23336138, 10098.21192706, 16258.95833102,
       17838.18850424, 21140.50121888, 20728.77267136, 16750.47775472,
       19696.56701233, 21296.53137381, 19963.60962745, 21096.36361353,
       20087.15679059, 16129.2147438 , 14904.01544678, 21428.96859206,
       18253.92089501, 11891.71864155, 17308.77556406, 19308.45694331,
       21739.64776232, 12457.26150057, 10418.71004624, 18457.64025274,
       20322.62090551, 17965.11986822, 13537.01222839, 25503.71266289,
       21175.1291267 , 16935.60784022, 20930.39477787, 14390.4981478 ,
       14001.31505096, 18582.42670069, 17613.63962865, 11172.0754822 ,
       15481.16411495, 17341.85493567, 19788.48915008, 20758.51550693,
       16355.78880362, 12068.12606854, 19894.59099619,  8521.46032347,
       20325.45639135, 12139.95692303, 22101.30386701, 17187.51631135,
       16123.30430853, 11016.73589707, 21494.74601688, 12504.54498276,
       24141.26200276, 12395.67857821, 13421.99706456, 11127.50889365,
       14478.86868809, 15064.19243937, 14323.05245496, 16803.98206319,
       10790.75707746, 17962.49830418, 18120.22112934, 19398.80500303,
       16682.17409547, 18133.42427911, 19211.74506291, 17206.53456679,
       19058.93171221, 18984.62228809, 11547.76944047, 11120.45450316,
       16195.56414623, 13654.12464345, 13343.15948438, 14177.24582995,
       15734.5978597 , 11773.03328807, 15774.6606944 , 15829.68913688,
       21930.44995909, 13136.29424981, 13473.95169721, 19017.00995029,
       16148.75731205, 14874.91551622, 18905.4987191 , 10740.99502565,
       19732.81666298, 13377.43047601, 15061.04656253, 14199.55295662,
        7885.37355956, 20759.70712694, 14105.98695306, 10344.92493493,
       18465.98159284, 12299.63400501, 13815.42232865, 17212.25434286,
        8569.88776087, 12019.31731273, 17914.26152599, 15687.69569592,
       14932.82824894, 21375.25036179, 20149.74067377, 19026.73356961,
       11021.35938273, 11678.8953069 , 20006.79393679, 20620.52590922,
       14392.54773422, 17611.44704782, 19612.36771189, 12248.10835557,
       11577.75060004, 16494.70843475, 11683.75711656, 16558.48393794,
       15034.97391661, 18085.04450651, 13091.10801885, 14784.11407109,
       18792.6040691 , 11512.49748803, 20190.56500567, 13612.27494853,
       15527.20831232, 15465.76838436, 19487.81958794, 16552.76416187,
       17583.99212268, 12017.19679891, 11930.32713002, 12264.67244358,
       19860.93964698, 11071.40742335, 26182.60241773, 11365.83289661,
       21540.43215844, 11549.43770849, 19146.3012917 , 18585.47724793,
       13023.37633721, 21278.30015739, 15476.54062929, 12097.0109377 ,
       16847.99993674, 11326.31877692, 12301.49293224, 13592.92303949,
       17606.98981916, 13988.96986761, 18481.56798264, 17800.53331177,
       15551.75568463, 11340.37989309])

In [26]:
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.19821538791314885
Test Score:  0.08438875370473697